<h1>MM号　ライフセーバー</h1>
<img src="/_5812d23841f51　ライフセーバー.jpeg">

<%= form_for @actress, url: actress_create_path do |f| %>
  <%= f.text_field :name %>
  <%= f.number_field :age %>
  <%= f.submit %>
<% end %>

<% @actresses.each do |actress| %>
  <%= actress.name %><br>
  <%= actress.age %><br><br>
<% end %>
